
@{
    ViewBag.Title = "Index";
}


<label id="text" class="mt-4 Hide">Hello world</label>


<div class="mt-4 flex-row" id="Buttons">
    <button id="PRINT" class="btn btn-outline-primary">PRINT TEXT</button>
    <button id="BOLD" class="btn btn-outline-primary">BOLD</button>
    <button id="ITALIC" class="btn btn-outline-primary">ITALIC</button>
    <button id="UNDERLINE" class="btn btn-outline-primary">UNDERLINE</button>
    <button id="RESET" class="btn btn-outline-danger">RESET</button>
</div>

@section scripts {
    <script src="~/Content/CustomFiles/Test2.js"></script>
}